body {
    font-family: "Lato", sans-serif;
    margin: 0;
    background-color: #1a1a1a;
    color: #ffffff;
    font-family: 'Courier New', Courier, monospace;
    overflow-x: hidden;
}

.sidebar {
    height: 100%;
    width: 200px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #111;
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo {
    text-align: center;
    margin-bottom: 20px;
}

.logo img {
    width: 150px;
    height: auto;
    margin-bottom: 20px;
    padding-left: 20px;
}

.sidebar a {
    padding: 10px 8px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    width: 100%;
    text-align: center;
    margin-bottom: 5px;
    margin-top: 5px;
    transition: color 0.3s ease-in-out;
}

.sidebar a:hover {
    color: #00ffff;
}

.main {
    margin-left: 200px; /*sidebar*/
    padding: 20px;
    height: 100vh;
    text-align: left;
    padding-left: 80px;
    width: 100%;
}

.text {
    padding-bottom: 25px;
}
  
.text h1 {
    font-size: 5.5rem;
    margin-bottom: 20px;
    color: #ffffff;
}
  
  .text .red {
    color: #f05454;
    font-weight: bold;
}
  
  .text p {
    font-size: 1.2rem;
    margin-bottom: 30px;
    color: #cccccc;
}

.github {
    font-size: 20px;
    display: inline-flex;
    background-color: transparent;
    border: 2px solid #00ffff;
    padding: 10px 20px;
    color: #00ffff;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.github:hover {
    background-color: #00ffff;
    color: #111;
}

hr {
    width: 200px;
    height: 5px;
    border: 0; 
    background-color: #1a1a1a;
}

.about {
    font-size: larger;
    height: auto;
    position: absolute;
    opacity: 0;
    transition: opacity 0.5s ease-out;
}

.about-div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 200px;
    gap: 100px;
}

.about-div p {
    padding-top: 40px;
    padding-left: 10px;
}


.about-div img {
    width: 350px;
    padding-bottom: 1000px;
    border: #00ffff 3px solid;
    padding-bottom: 0px;
}

.Skills {
    font-size: larger;
    height: auto;
    position: absolute;
    opacity: 0;
    transition: opacity 0.5s ease-out;
}

.Skills-div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 200px;
    gap: 100px;
}

.Skills-div p {
    padding-top: 40px;
    padding-left: 10px;
}

.skills-programmes {
    display: grid;
    grid-template-columns: 150px 150px 150px;
    grid-template-rows: 1fr 1fr;
}

.skills-programmes img {
    height: 50px;
    padding-top: 20px;
}

.Work {
    font-size: larger;
    height: auto;
    position: absolute;
    opacity: 0;
    transition: opacity 0.5s ease-out;
    width: 85%;
}

.work-div {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 100px;
}

.work-div img {
    width: 230px;
    border: #00ffff 3px solid;
}

.Contact {
    font-size: larger;
    height: auto;
    position: absolute;
    opacity: 0;
    transition: opacity 0.5s ease-out;
}

@media only screen and (max-width: 1400px) {
    body {
        font-family: "Lato", sans-serif;
        margin: 0;
        background-color: #1a1a1a;
        color: #ffffff;
        font-family: 'Courier New', Courier, monospace;
        overflow: visible;
    }
    
    .sidebar {
        height: 100px;
        width: 83%;
        position: fixed;
        top: 0;
        left: 0;
        background-color: #111;
        padding-top: 7px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
    
    .logo {
        text-align: center;
        margin-top: 40px;
    }
    
    .logo img {
        width: 100px;
        height: auto;
        margin-bottom: 20px;
        padding-left: 20px;
    }
    
    .sidebar a {
        display: flex;
        flex-grow: 1;
        justify-content: space-around;
        padding: 10px 8px;
        text-decoration: none;
        font-size: 20px;
        color: #818181;
        width: 100px;
        text-align: center;
        margin-bottom: 5px;
        margin-top: 5px;
        transition: color 0.3s ease-in-out;
    }
    
    .sidebar a:hover {
        color: #00ffff;
    }
    
    .main {
        margin-left: 0px; /*sidebar*/
        margin-top: 100px;
        padding: 20px;
        height: 100vh;
        text-align: left;
        padding-left: 80px;
        width: 100%;
    }
    
    .text {
        padding-bottom: 25px;
    }
      
    .text h1 {
        font-size: 4rem;
        margin-bottom: 20px;
        color: #ffffff;
    }
      
      .text .red {
        color: #f05454;
        font-weight: bold;
    }
      
      .text p {
        font-size: 1.2rem;
        margin-bottom: 30px;
        color: #cccccc;
    }
    
    .github {
        font-size: 20px;
        display: inline-flex;
        background-color: transparent;
        border: 2px solid #00ffff;
        padding: 10px 20px;
        color: #00ffff;
        cursor: pointer;
        text-decoration: none;
        transition: background-color 0.3s ease, color 0.3s ease;
    }
    
    .github:hover {
        background-color: #00ffff;
        color: #111;
    }
    
    hr {
        width: 5px;
        height: 200px;
        border: 0; 
        background-color: #1a1a1a;
        margin: 5px;
    }
    
    .about {
        font-size: larger;
        height: auto;
        position: absolute;
        opacity: 0;
        transition: opacity 0.5s ease-out;
    }
    
    .about-div {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 1fr 1fr;
        gap: 100px;
    }
    
    .about-div p {
        padding-top: 40px;
        padding-left: 10px;
    }
    
    
    .about-div img {
        width: 350px;
        padding-bottom: 1000px;
        border: #00ffff 3px solid;
        padding-bottom: 0px;
    }
    
    .Skills {
        font-size: larger;
        height: auto;
        position: absolute;
        opacity: 0;
        transition: opacity 0.5s ease-out;
    }
    
    .Skills-div {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 200px;
        gap: 100px;
    }
    
    .Skills-div p {
        padding-top: 40px;
        padding-left: 10px;
    }
    
    .skills-programmes {
        display: grid;
        grid-template-columns: 150px 150px 150px;
        grid-template-rows: 1fr 1fr;
    }
    
    .skills-programmes img {
        height: 50px;
        padding-top: 20px;
    }
    
    .Work {
        font-size: larger;
        height: auto;
        position: absolute;
        opacity: 0;
        transition: opacity 0.5s ease-out;
        width: 85%;
    }
    
    .work-div {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 100px;
    }
    
    .work-div img {
        width: 230px;
        border: #00ffff 3px solid;
    }
    
    .Contact {
        font-size: larger;
        height: auto;
        position: absolute;
        opacity: 0;
        transition: opacity 0.5s ease-out;
    }
  }
